/*fonts*/

@font-face {
 font-family: "Roboto";
 src: url("../fonts/robotobold.woff2") format("woff2"),
 url("../fonts/robotobold.woff") format("woff");
 font-weight: 700;
 font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*main colors*/
:root {
  --text: #ffffff;
  --text-about: #323232;
  --text-border:#353535;
  --text-mail: #5A5A5A;
}



/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--text);
  background-color:  #849d8f;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}


.site-navigation ul,
.top-list,
.name-of-item,
.info-list,
.social-net,
.info-item a,
.nav-for-customer ul,
.to-all a,
.about-list,
.contacts a {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text);
  text-decoration: none;
}


/* HEADER*/
.main-header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;

}

.logo {
  position: relative;
  top:9px;
  margin-right: 24px;
}

.to-all {
  margin-top: 32px;
  margin-right: 32px;
  font-weight: 700;
  line-height: 18px;
  text-align: end;

}
.to-all a,
.info-item a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-decoration-style: 1px solid;
}

.nav-for-customer ul,
.site-navigation ul {
  display:flex;
  flex-wrap: wrap;

    }
.nav-for-customer {
  width: 293px;
  height: 100px;
  margin-top: 32px;
  display:flex;
  flex-direction: column;
  align-items: flex-end ;
}
.to-customer {
  display: flex;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
}
.login {
  display: inline-block;
  padding: 8px 16px;
  padding-left: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  position:relative;
}

.login::before {
  content: "";
  position: absolute;
  right: 55px;
  width: 20px;
  height: 19px;
  background-image: url("/img/logo-lk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket {
  display: inline-block;
  padding: 8px 16px;
  padding-left: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  position:relative;
}

.basket::before {
  content: "";
  position: absolute;
  right: 65px;
  width: 21px;
  height: 20px;
  background-image: url("/img/logo-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*SLIDER*/

.site-wrapper-1 {
  background-color: #849d8f;
  background-image: url("img/slider-item-1.png");
}

.site-wrapper-2 {
  background-color: #8996a6;
  background-image: url("img/slider-item-2.png");
}

.site-wrapper-3 {
  background-color: #9d8b84;
  background-image: url("img/slider-item-3.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color:var(--text);
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #ffffff;
}

/* FREE*/

.free {
  height: 229px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 41px;
  justify-content: space-between;
}
.stock {
 width: 560px;
 height: 229px;
 border-radius: 16px;
}

.stock h2,
.stock p {
  margin-left: 16px;
}

.raspberries {
  background: url(../img/background/bg-raspberries.png)  no-repeat;
  padding: 0 -16px;

}

.chocolate {
  background: url(../img/background/bg-choco.png) no-repeat;
}

.stock-button {
  margin-top: 41px;
  display: inline-block;
  padding: 15px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:var(--text);
  vertical-align: top;
  text-decoration: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
}

.top-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.buy-top {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 324px;
  margin-left:26px;
  text-decoration:none;
  color: var(--text);

}
.buy-top img,
.item-of-top img {
  position: relative;
  z-index: -1;
}
.top .buy-top {
  background:url(../img/Hits/hit-logo.png) no-repeat 0 0 ;

}

.buy-top:last-child {
  margin-left: 0px;
}
.name-price {
  position: relative;
  bottom: 120px;
}
.name-of-item {
  margin-top:33px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-decoration-style: 1px solid;
  text-align: center;

}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.kg {
  font-size: 30px;
  line-height: 35px;
}

.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 36px;
  height: 306px;
  color: var(--text-about);
  justify-content: space-around;
  background: url(../img/background/bg-wafer.png) repeat;
  padding-left: 20px;
  border-radius: 16px;
}
.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--text-about);
  font-weight: 400;
  row-gap: 33px;
  column-gap: 27px;
  padding-left: 75px;
}
.about-item {
  position: relative;
}

.about-item:first-child:before {
  content: "";
  position: absolute;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url("/img/icons/milk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.about-item:nth-child(2):before {
  content: "";
  position: absolute;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url("/img/icons/nature.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-item:nth-child(3):before {
  content: "";
  position: absolute;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url("/img/icons/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-item:last-child:before {
  content: "";
  position: absolute;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url("/img/icons/temp.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advertising {
  display: flex;
  height: 220px;
  margin-top: 40px;
  gap:26px;
}

.blog{
  width: 580px;
  background: url(../img/background/bg-blog.png) no-repeat;
}
.news {
  margin-left: 20px;
}
.news p {
  color: var(--text-about);
}

.news a{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration-style: 2px solid var(--text-border);
  color: var(--text-about);
}

.mailing {
  background-color: #F8F7F4;
  border-radius: 16px;
  border: 6px solid;
  border-image: url(../img/background/bg-mail.png) 6 round round;
  padding-top: 29px;
  padding-left: 26px;
  width: 560px;
}
.mailing-form {
  color: var(--text-mail);
  text-align: justify;
}
.mailing-form input {
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
  width:368px;
  height: 44px;
  margin-top: 47px;
}

.send-mail {
  display: inline-block;
  padding: 14px 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:var(--text);
  vertical-align: center;
  text-decoration: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.modal-map {
  margin-top: 40px;
  height: 430px;
  background: url(../img/background/bg-map.png) no-repeat;
}
.find-us {position:relative;}
.location {
  width: 263px;
  height: 306px;
  background: #FEFEFE;
  border-radius: 16px;
  color: var(--text-about);
  padding: 25px;
  position: absolute;
  z-index: 5;
  bottom: 20px;
  left: 850px;
}

.where p:first-child,
.contacts-form h3,
.contacts-form p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin:0px;
}
.where p:first-child {
  margin-top: 7px;
}
.where p:last-child,
.contacts-form a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top:8px;
  margin-bottom: 30px;
}

.contacts-form a {
  margin-top:11px;
  margin-bottom: 8px;
  color: var(--text-about);
  text-decoration: none;
}

.send-form {
  display: inline-block;
  margin-top: 40px;
  padding: 13px 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:var(--text);
  vertical-align: center;
  text-decoration: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}


/* CATALOG*/


.item-of-top {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 324px;
  margin-left:26px;
  text-decoration:none;
  color: var(--text);
}



.footer-main .container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
  margin-top: 36px;
}
.footer-network {
  grid-column: 1/2;
  grid-row:1/2;
}
.social-net {
  display: flex;
  margin-left: 25px;
  gap: 12px;
}
.info {
  grid-column: 2/3;
  grid-row:1/2;
}
.info-list {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  row-gap: 11px;
  column-gap: 32px;
}
.info-list li{
  position: relative;
}
.info-item:first-child:before {
  content: "";
  position: absolute;
  top:5px;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url("/img/hits/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  grid-column: 3/4;
  grid-row:1/2;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: end;
}
